<div class="header" id="header">
	<div class="contenedor" id="contenedor">
		<div class="images">
			<a href="#" class="img1" id="img1"><img src="../../assets/img/PLF.png" alt="Fortress Corp." title="Fortress Corp"></a>
			<a href="#" class="img2" id="img2"><img src="../../assets/img/FMI-B-WEB.png" alt="Fortress Corp." title="Fortress Corp"></a>
		</div>
		<ul class="menu" id="menu">
			<li><a href="#">HOME</a></li>
			<li><a href="#app-servicios">SERVICIOS</a></li>
			<li><a href="#">CONTACTO</a></li>
			<li><a href="#">LOGIN</a></li>
		</ul>
	</div>
</div>