<div class="header" id="header">
	<div class="contenedor" id="contenedor">
		<div class="images">
			<a href="#" class="img1" id="img1"><img src="../../assets/img/PLF.png" alt="Fortress Corp." title="Fortress Corp"></a>
			<a href="#" class="img2" id="img2"><img src="../../assets/img/FMI-B-WEB.png" alt="Fortress Corp." title="Fortress Corp"></a>
		</div>
		<ul class="menu" id="menu">
			<li><a href="#app-redes" id="link1">Redes Sociales</a></li>
			<li><a href="#app-radio" id="link2">Radio</a></li>
			<li><a href="#app-pgweb" id="link3">Página Web</a></li>
			<li><a href="#app-publicidad" id="link4">Publicidad</a></li>
			<li><a href="#app-servicios" id="link5">Servicios</a></li>
			<li><a href="#app-contacto" id="link6">Contacto</a></li>
		</ul>
	</div>
</div>