.header{
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center; 
	z-index: 1000;
	padding: 2.5% 0% 2.5% 0%;
	height: 75px;

	background: rgba(23,72,102,0.5);
	transition-duration: 1.3s;
	border-bottom: solid 4px #fff;
	border-radius: 0px 0px 10px 10px;
} 

.contenedor{
	display: flex;
	flex-direction: row;
	width: 1200px;	
	justify-content: space-between;
	

}

.contenedor .images{
	position: relative;
	width: 25%;

}

.contenedor .images a{
	width: 100%;
	position: absolute;
}

.contenedor .images .img1 img{
	width: 100%;
	max-width: 280px;
}

.contenedor .images .img2{
	top: 10%;
	left: 10%;
	display: none;
}

.contenedor .images .img2 img{
	width: 25%;
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
 	list-style: none;
}

.menu li {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 100%;
	padding: 3%;
	border-radius: 0 0 10px 10px;

	border-bottom: solid 4px transparent; 

}

.menu li a{
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	width: 100%;
}

.menu li:hover{
	border-bottom: solid 4px #fff;
	cursor: pointer;
}
