.redes{
	
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../../assets/img/fondoredes3.jpg);
	background-position: center;
	background-size: 100%;
	color: #fff;

	padding: 5% 0;
    
}

.contenedor{
	width: 1200px;
}

.text{
	display: flex;
	flex-direction: column;
	width: 60%;
}

.text .title{
	position: absolute;
	border-bottom: solid 2px #E74F64;
	padding: 1.5% 1.5% 0 1.5%; 
}

.text .title h1{
	padding: 0;
	margin: 0;
	font-size: 2.5em;
}

.text ul {
	list-style: none;
}

.opc:nth-child(1){
	margin-top: 10%; 
}

.opc h3{
	color: #E74F64;
	font-size: 1.5em;
}

.opc .desc{
	padding: 0 0 0 2%; 
}