<div class="redes" id="redes">
	<div class="contenedor">
		<div class="text">
			<div class="title">
				<h1>Gestión de Redes Sociales</h1>
			</div>
			<ul>
				<li class="opc">
					<h3>IMAGEN</h3>
					<div class="desc">
						<p>Mejora la imagen, organización y marca de tu empresa mediante tus Redes Sociales, obteniendo reputación y reconocomiento de la marca.</p>
					</div>
				</li>
				<li class="opc">
					<h3>POSICIONAMIENTO</h3>
					<div class="desc">
						<p>Opten un mejor posicionamiento de tu marca, para que tus clientes se sientan identificados con ella, siendo la primera opción para todos. </p>
					</div>
				</li>
				<li class="opc">
					<h3>VENTAS</h3>
					<div class="desc">
						<p>Tu Imagen, Tu Reputación y Posicionamiento en la red son la mejor estrategia para así lograr Aumentar tus Ventas.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>