<div class="servicios" id="servicios">
	<div class="contenedor">
	<div class="hoja" id="hoja1">
		<div class="sup">
			<img src="../../assets/img/send.png" alt="">
			<div class="text">
				<h4>REDES SOCIALES</h4>
				<p>PAQUETE #1</p>
			</div>
		</div>
		<div class="tiempo">
			<p>CONTRATO POR 1 MES</p>
		</div>
		<div class="descripcion">
		<h4>Gestión de Redes Sociales</h4>
		<p>(1xdía) Instagram Post</p>
		<p>(1xdía) Instagram Stories</p>
		<p>(1xmes) Instagram Promoción</p>
		<p>(1xmes) whatsApp Promoción</p>
		<h4>AudioVisual</h4>
		<p>Diseño Grafico</p>
		<p>Fotografías</p>
		<p>(3xmes) Vídeos</p>
		<a href="">Más Información</a>
		</div>
	</div>
	<div class="hoja" id="hoja2">
		<div class="sup">
			<img src="../../assets/img/antenna.png" alt="">
			<div class="text">
				<h4>ANUNCIO DE RADIO</h4>
				<p>PAQUETE #2</p>
			</div>
		</div>
		<div class="tiempo">
			<p>CONTRATO POR 3 MES</p>
		</div>
		<div class="descripcion">
		<h4>Gestión de Redes Sociales</h4>
		<p>(1xdía) Instagram Post</p>
		<p>(1xdía) Instagram Stories</p>
		<p>(1xmes) Instagram Promoción</p>
		<p>(1xmes) whatsApp Promoción</p>
		<h4>AudioVisual</h4>
		<p>Diseño Grafico</p>
		<p>Fotografías</p>
		<p>(3xmes) Vídeos</p>
		<a href="">Más Información</a>
		</div>
	</div>
	<div class="hoja" id="hoja3">
		<div class="sup">
			<img src="../../assets/img/html.png" alt="">
			<div class="text">
				<h4>PAGINA WEB ADAPTABLE</h4>
				<p>PAQUETE #3</p>
			</div>
		</div>
		<div class="tiempo">
			<p>CONTRATO POR 1 AÑO</p>
		</div>
		<div class="descripcion">
		<h4>Gestión de Redes Sociales</h4>
		<p>(1xdía) Instagram Post</p>
		<p>(1xdía) Instagram Stories</p>
		<p>(1xmes) Instagram Promoción</p>
		<p>(1xmes) whatsApp Promoción</p>
		<h4>AudioVisual</h4>
		<p>Diseño Grafico</p>
		<p>Fotografías</p>
		<p>(3xmes) Vídeos</p>
		<a href="">Más Información</a>
		</div>
	</div>
	<div class="hoja" id="hoja4">
		<div class="sup">
			<img src="../../assets/img/billboard.png" alt="">
			<div class="text">
				<h4>PUBLICIDAD</h4>
				<p>PAQUETE #4</p>
			</div>
		</div>
		<div class="tiempo">
			<p>CONTRATO POR 1 DIA</p>
		</div>
		<div class="descripcion">
		<h4>Gestión de Redes Sociales</h4>
		<p>(1xdía) Instagram Post</p>
		<p>(1xdía) Instagram Stories</p>
		<p>(1xmes) Instagram Promoción</p>
		<p>(1xmes) whatsApp Promoción</p>
		<h4>AudioVisual</h4>
		<p>Diseño Grafico</p>
		<p>Fotografías</p>
		<p>(3xmes) Vídeos</p>
		<a href="">Más Información</a>
		</div>
	</div>
	</div>
</div>